// Colors

// Mixin

// Base

.container-fluid {
  width: 100%;
  background-color: #3B3F4B;
  min-height: 70px;

  .container {
    padding: 50px;
    text-align: center;

    a{
      text-decoration: none;
      margin: 15px 20px;
      color: #fff;


      i {
        opacity: 0.5;
        transition: all 0.2s ease-in-out;


        &:hover {
          opacity: 1;
          transform: scale(1.2);
        }

      }
    }
  }
}
